
  <nav class="navbar navbar-expand navbar-parent"> 
    <div class="container gx-3">
			<ul class="navbar-nav">
				<li class="nav-item">
          <a href="/" class="nav-link " aria-current="page">Home</a>
        </li>
				<li class="nav-item">
          <a href="/restaurants" class="nav-link">Restaurants</a>
        </li>
				<li class="nav-item">
          <a href="/about-us" class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
          <a href="/manager/flagged" class="nav-link">Flagged Reviews</a>
        </li>
			</ul>

      <a href="/" class="navbar-brand">staples</a>
		
			<ul  class="navbar-nav gap-3">
				<li class="nav-item">
          <a href="/search" class="bi bi-search fs-4 mb-3 bt-lg btn-search"></a>
        </li>
				<li class="nav-item">
          <a href="/userdetails" class="btn btn-login btn-text">My Account</a>
        </li>

				<li class="nav-item">
          <a href="/logout" class="btn btn-login btn-text">Log Out</a>
        </li>

			</ul>
    </div>
</nav>

