{{#if (eq clientType "admin")}}
    {{> adminheader}}

{{else if (eq clientType "manager")}}
    {{> managerheader}}

{{else if (eq clientType "user")}}
    {{> clientheader}}

{{else}}
    {{> guestheader}}
{{/if}}

<body class="d-flex flex-column min-vh-100">
  <div class="container my-4">
    <div class="logo-image"><img src="images/Staples_logo.png"></div>
      <div class="about_us_header">Staples
      <div class="about_us_body"><p>Here at Staples we aim to provide an easy to use service for users to provide and attain information on restaurants around the area.</p></div>
    </div>
    <div class="member-header">Members:</div>
    <div class="member-parent">
      <div class="members"><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"><p>Cy</p></div>
      <div class="members"><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"><p>Patys</p></div>
      <div class="members"><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"><p>Emma</p></div>
      <div class="members"><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"><p>Rizza</p></div>
    </div>
    <div class="member-parent">
      <div class="members"><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"><p>Czarina</p></div>
      <div class="members"><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"><p>Diego</p></div>
      <div class="members"><img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"><p>Mark</p></div>
    </div>
    <div class="about_us_body"><b>Contact Us: sample@gmail.com</b></div>
    <div>
      <div class="member-header">List of site dependencies:</div>
        <ul>
          <li><b>bcryptjs</b> - password encryption</li>
          <li><b>body-parser</b> - page rendering</li>
          <li><b>bootstrap</b> - page design</li>
          <li><b>connect-mongodb-session</b> - sessions</li>
          <li><b>dotenv</b> - handling secrets</li>
          <li><b>express</b> - framework</li>
          <li><b>express-handlebars</b> - page rendering</li>
          <li><b>express-session</b> - sessions</li>
          <li><b>mongoose</b> - connection to MongoDB database</li>
          <li><b>multer</b> - dependency of other dependencies</li>
          <li><b>sharp</b> - dependency of other dependencies</li>
          <li><b>sharp-multer</b> - dependency of other dependencies</li>
        </ul>
    </div>
    </div>
    
  </div>
</body>
