{{#if (eq clientType "admin")}}
    {{> adminheader}}

{{else if (eq clientType "manager")}}
    {{> managerheader}}

{{else if (eq clientType "user")}}
    {{> clientheader}}

{{else}}
    {{> guestheader}}
{{/if}}

<body class="d-flex flex-column min-vh-100">
  <div class="container my-4">  
    <h1>Error — Not found (404)</h1>
    <div>Unfortunately we were unable to locate this page. Try making sure that your path is correct?</div>
  </div>
</body>
