{{#if clientType}}
  {{>clientheader}}
{{else}}
  {{>guestheader}}
{{/if}}

<body class="d-flex flex-column min-vh-100">
  <div class="container my-4">  
    <h1>Error — 403</h1>
    <div>Unfortunately we are unable to serve you this page. Make sure that you are logged in and have the correct permissions to access this?</div>
  </div>
</body>
