{{#if (eq clientType "admin")}}
    {{> adminheader}}

{{else if (eq clientType "manager")}}
    {{> managerheader}}

{{else if (eq clientType "user")}}
    {{> clientheader}}

{{else}}
    {{> guestheader}}
{{/if}}


<div class="d-flex flex-column min-vh-100">
  <div class="index container">
    <div class="col-10 tag-line">
      <span>unwrap the flavors bite by bite</span>
    </div>
    <div id="btn-view-restaurants">
      <a href="/restaurants" class="btn btn-view-restaurants btn-text mt-2 mx-2 fs-3">View Restaurants</a>
    </div>
  </div>
</div>



