/*|| General Styles*/
title {
    padding-top: 100px;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background-color: #F5F5F5;
    font-family: "Roboto";
}

title {
    padding-top: 100px;
}

footer {
    background-color: #F4F3E7;
}

h1 {
    font-family: "Montserrat";
    font-weight: 300;
}

button {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: medium;
}

/*|| Typography*/
.navbar-brand {
    font-family: "Corben";
    font-size: 40px;
    font-weight: bolder;
    line-height: 20px;
    width: 250px;
    color: #00473C;
    align-self: start;
}


/*|| Header, Main, Footer*/

hr {
    border: 2px solid #E8DCC6;
}

.force-bottom {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.btn-text {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: medium;
}

.navbar-parent {
    justify-content: center;
    align-items: center;
    background-color: #F4F3E7;
}



.nav-item {
    font-family: 'Montserrat';
    font-size: 18px;
    color: #1E1919;
}

/*|| Sitewide*/


/*|| PAGE SPECIFIC ********************************* */


/*|| LOG-IN PAGE ** */
.title {
    padding-top: 100px;
}

.login-form {
    width: 40%;
    border: 1px solid #E8DCC6;
    border-radius: 12px;
    padding: 1%;
}

.label {
    font-weight: bold;
}



.btn-login,
.btn-account {
    background-color: #E8DCC6;
    border-radius: 24px;

}

.btn-search {
    color: #00473C;
}

.btn-register,
.btn-logout {
    background-color: #00473C;
    border-radius: 24px;
    color: #E6FF55;
}

.btn-view-restaurants {
    background-color: #00473C;
    border-radius: 24px;
    color: #E6FF55;
}

.tag-line {
    padding-top: 150px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 120;
    font-size: 125px;
    letter-spacing: 3px;
    line-height: 120px;
}

@media (max-width: 1024px) {
    .tag-line {
        margin: 1%;
        font-size: 65px;
        line-height: 65px;
    }
}

.registration {
    align-items: center;
    justify-content: center;
}

.font {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 50px;
    padding: 20px;
}

.rating {
    height: 20px;
    width: 20px;
    border-radius: 1024px;
    display: inline-block;
    opacity: 0.8;
}

.rating-small {
    height: 14px;
    width: 14px;
    border-radius: 1024px;
    display: inline-block;
}

.rating-filled {
    background-color: #E6FF55;
}

.rating-empty {
    background-color: #E8DCC6;
}

.rating-text {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

.comment {
    border-bottom: 1px solid #E8DCC6;
    padding: 1%
}

.username {
    font-weight: bold;
}

.date {
    color: #B7B7AD;
    font-size: 10px;
}

.comment-pfp {
    border-radius: 45px;
    width: 63px;
    height: 63px;
    object-fit: cover;
}

.button-helpful-text {
    font-size: 9px;
}

.user-box {
    border-radius: 10%;
    min-height: 400px;
}

.username {
    color: black;
}

.user-bio {
    margin-top: 10px;
    opacity: 0.9;

}

.user-info {
    justify-content: center;
    align-items: center;

}

.user-other-info {
    opacity: 0.5;
}


.review-user-dp {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.review-date {
    font-size: 13px;
    opacity: .5;
}

.restaurant-name {
    font-size: 17px;
    font-weight: bold;
}

.review-text {
    font-size: 14px;

}

.body-userdetails {
    background-color: #00473C;
}

.btn-create-review {
    background-color: #00473C;
    border-radius: 20px;
    color: #E8DCC6;
}

.logo-image {
    display: inline-block;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    margin: 10px;
}

.about_us_header {
    display: inline-block;
    color: #00473C;
    text-transform: uppercase;
    margin: 20px;
    font-weight: 120;
    font-size: 125px;
    letter-spacing: 3px;
    line-height: 120px;
    width: 700px;
}

.about_us_body {
    display: inline-block;
    width: 750px;
    text-transform: none;
    color: #1E1919;
    padding: 10px;
    font-weight: 70;
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 70px;
}

.about_us_members {
    width: 25%;
    padding: 10px;
}

.member-parent {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.member-header {
    font-family: 'Roboto' Arial;
    padding-top: 10px;
    font-size: 60px;
    font-weight: bold;
}

.members {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.members p {
    text-align: center;
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
}

.members img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.service-card {
    background-color: #FFFBF2;
    border: 0px none;
    border-radius: 16px;
    text-align: center;
}

@media (min-width: 768px) {
    .service-card {
        flex: 0 0 auto;
        width: 30%;
    }
}

@media (max-width: 768px) {
    .service-card {
        flex: 0 0 auto;
        width: 60%;
    }
}

.service-card:hover {
    background-color: #fff8e1;
}

.service-card>div>h2 {
    font-family: "Montserrat";
    font-size: 1.5em;
    margin: 0;
}

.service-card>div>.sample-review {
    font-size: 10px;
    text-align: justify;
}

.service-card>div>.user {
    font-size: 12.5px;
    text-align: left;
    padding: 0% 0% 0% 8%
}

.service-card>img {
    width: 100%;
    aspect-ratio: 3/2;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}


.rate-star-inter:hover {
    color: #dcc93a;
}

.star-rated-filled {
    color: #e9d437;
}


.user-profile-photo {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.res-image {
    padding: 0%;
}


.details {
    background-color: #A9C1A9;
    border-radius: 16px;
    padding: 5%;
}

.nopadding {
    padding: 0%;
}

.login-form {
    width: 50%;
    border: 1px solid #E8DCC6;
    border-radius: 12px;
    padding: 1%;
}

.edit-user-form {
    width: 100%;
    border: 1px solid #E8DCC6;
    border-radius: 12px;
    padding: 1%;
}

.user-display-photo{
    height: 286px;
    width: 180;
}


.rev-photo{
    max-width: 180px;
    max-height: 180px;
}