{{>header}}

<section class="main container d-flex flex-column min-vh-100">
	<h1>Restaurants</h1>
	<div class="container row px-0 d-flex justify-content-center gap-3">
		
			<a href="/restaurant/healthy-sands" class="btn service-card p-0" >
				<img src="/images/healthy-sand/img2.jpg" class="object-fit-cover">
				<div class="display-flex flex-column align-items-center p-2">
					<h2>Healthy Sands</h2>
						<i class="bi bi-star-fill star-rated-filled"></i>
						<i class="bi bi-star-fill star-rated-filled"></i>
						<i class="bi bi-star-fill star-rated-filled"></i>
						<i class="bi bi-star-fill"></i>
						<i class="bi bi-star-fill"></i>
					<div class="rating-text mx-2">3.0</div>
					<div class="sample-review">
						Honestly, this sandwich has more lettuce than tofu
					</div>
					<div class="user">— Patricia C.  <b>(4/5)</b></div>
				</div>
			</a>
	</div>
</div>
</section>
    
{{>footer}}