{{>header}}
<div class="d-flex flex-column min-vh-100">
  <div class="main container">
    <div class="col-10 tag-line">
      <span>unwrap the flavors bite by bite</span>
    </div>
    <div>
      <a href="/all-restaurants/" class="btn btn-view-restaurants btn-text mt-2 mx-2 fs-3">View Restaurants</a>
    </div>
  </div>
</div>
{{>footer}}