<div class="mt-auto">
  <footer class="py-4 mt-4">
    <ul class="nav justify-content-center border-bottom pb-1 mb-1">
      <li class="nav-item">
        <a href="index.html" class="nav-link px-2 text-muted active disabled">Home</a>
      </li>
      <li class="nav-item">
        <a href="view-all-restaurants.html" class="nav-link px-2 text-muted">Restaurants</a>
      </li>
      <li class="nav-item">
        <a href="about_us.html" class="nav-link px-2 text-muted">About Us</a>
      </li>
    </ul>
    <p class="text-center text-muted">© 2024 Amaya DEVS Company, Inc</p>
  </footer>
</div>
